    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>关于演说.io</h2>
              <br/>
                “演说.io” 是一个用于创作 Web 展示文稿的在线软件，HTML5 与生俱来的跨平台与易于传播使得“演说.io”与传统的 Powerpoint、Keynote 截然不同。“演说.io”可以直接在浏览器中使用，也可以下载桌面客户端以获得更沉浸式的体验。
                <br/>
                <br/>
                <br/>
              </div>
        </div>
    </section>
